<div class="content">
					<div class="container">

						<!-- Page-Title -->
						<div class="row">
							<div class="col-sm-12">
                                <div class="btn-group pull-right m-t-15">
                                    <button type="button" class="btn btn-default dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Settings <span class="m-l-5"><i class="fa fa-cog"></i></span></button>
                                    <ul class="dropdown-menu drop-menu-right" role="menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>

								<h4 class="page-title">New API</h4>
								<ol class="breadcrumb">
									<li>
										<a href="#">Test</a>
									</li>
									<!-- <li>
										<a href="#">Pages</a>
									</li> -->
									<li class="active">
										New API
									</li>
								</ol>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">
									<i class="typcn typcn-flow-switch"></i> Create New API

									<span class="pull-right">
										<small><a  href="#">How do I create a new api?</a></small>
									</span>
								</h3>

							</div>
							<div class="panel-body">
								<form role="form" class="row">

									<div class="col-sm-4">
										<div class="form-group">
	                    <label for="channel_name">Name:</label>
	                    <input type="text" class="form-control" id="" name="channel_name" placeholder="e.g., Google Shopping">
	                  </div>
									</div>

								</form>
							</div>

							<div class="panel-footer">
								<h5><strong>Connecct With:</strong></h5>

								<div class="row">
									<div class="col-sm-12">

										<div class="col-sm-3">
											<div class="panel panel-default" style="border: 1px solid #eee;">
												<div class="panel-body text-center">
													<i class="typcn typcn-flow-switch" style="font-size:41px;"></i>
												</div>
												<div class="panel-footer">
													<div class="checkbox">
                              <input id="" type="checkbox">
                              <label for="checkbox11">Add New Connection</label>
                          </div>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>

							<div class="panel-body">
								<form role="form" class="row">
									<div class="col-sm-4">
										<div class="form-group">
	                    <label for="channel_country">Unique ID per product:</label>
											<select class="form-control" disabled="">
	                        <option>false</option>
	                    </select>
	                  </div>

										<div class="form-group">
	                    <label for="channel_country">Active:</label>
											<select class="form-control">
	                        <option>Active - Scheduled</option>
	                        <option>Inactive - Not Scheduled</option>
	                    </select>
	                  </div>
									</div>
								</form>
							</div>

							<div class="panel-footer">
								<button class="btn btn-icon waves-effect btn-default waves-light"> Continue </button>
							</div>
						</div>





                    </div> <!-- container -->

                </div>