<div class="content">
					<div class="container">

						<!-- Page-Title -->
						<div class="row">
							<div class="col-sm-12">
                                <div class="btn-group pull-right m-t-15">
                                    <button type="button" class="btn btn-default dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Settings <span class="m-l-5"><i class="fa fa-cog"></i></span></button>
                                    <ul class="dropdown-menu drop-menu-right" role="menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>

								<h4 class="page-title">APIs</h4>
								<ol class="breadcrumb">
									<li>
										<a href="#">Test</a>
									</li>
									<!-- <li>
										<a href="#">Pages</a>
									</li> -->
									<li class="active">
										APIs
									</li>
								</ol>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">
									<i class="typcn typcn-flow-switch"></i> API Connections

									<span class="pull-right">
										<small><a  href="#">How do I create a new API?</a></small>
									</span>
								</h3>

							</div>
							<div class="panel-body text-center">
								<i class="typcn typcn-flow-switch" style="font-size:170px;"></i>
								<p>Click "Add new API" to <br />add a new API.</p>
							</div>
							<div class="panel-footer">
								<button class="btn btn-icon waves-effect btn-default waves-light"><a href="apis/add" style="color:white;"> <i class="fa fa-plus"></i> Add New API</a> </button>
							</div>
						</div>





                    </div> <!-- container -->

                </div>