<div class="content">
					<div class="container">

						<!-- Page-Title -->
						<div class="row">
							<div class="col-sm-12">
                                <div class="btn-group pull-right m-t-15">
                                    <button type="button" class="btn btn-default dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Settings <span class="m-l-5"><i class="fa fa-cog"></i></span></button>
                                    <ul class="dropdown-menu drop-menu-right" role="menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>

								<h4 class="page-title">Channels</h4>
								<ol class="breadcrumb">
									<li>
										<a href="#">Test</a>
									</li>
									<!-- <li>
										<a href="#">Pages</a>
									</li> -->
									<li class="active">
										New Channel
									</li>
								</ol>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">
									<i class="typcn typcn-download"></i> Create New Channel

									<span class="pull-right">
										<small><a  href="#">How do I create a new channel?</a></small>
									</span>
								</h3>

							</div>
							<div class="panel-body">
								<form role="form" class="row">

									<div class="col-sm-4">
										<div class="form-group">
	                    <label for="channel_name">Name:</label>
	                    <input type="text" class="form-control" id="" name="channel_name" placeholder="e.g., Google Shopping">
	                  </div>
										<div class="form-group">
	                    <label for="channel_country">Country:</label>
											<select class="form-control">
	                        <option>Netherlands</option>
	                        <option>Japan</option>
	                        <option>Italy</option>
	                        <option>United Kingdom</option>
	                        <option>USA</option>
	                    </select>
	                  </div>
									</div>

								</form>
							</div>

							<div class="panel-footer">
								<h5><strong>Channel:</strong></h5>

								<div class="row">
									<div class="col-sm-12">

										<div class="col-sm-3">
											<div class="panel panel-default" style="border: 1px solid #eee;">
												<div class="panel-body">
													<img src="sample-data/adcrowd.png" class="img-responsive" />
												</div>
												<div class="panel-footer">
													<div class="checkbox">
                              <input id="" type="checkbox">
                              <label for="checkbox11">Adcrowd</label>
                          </div>
												</div>
											</div>
										</div>

										<div class="col-sm-3">
											<div class="panel panel-default" style="border: 1px solid #eee;">
												<div class="panel-body">
													<img src="sample-data/adcrowd.png" class="img-responsive" />
												</div>
												<div class="panel-footer">
													<div class="checkbox">
                              <input id="" type="checkbox">
                              <label for="checkbox11">Adcrowd</label>
                          </div>
												</div>
											</div>
										</div>

										<div class="col-sm-3">
											<div class="panel panel-default" style="border: 1px solid #eee;">
												<div class="panel-body">
													<img src="sample-data/adcrowd.png" class="img-responsive" />
												</div>
												<div class="panel-footer">
													<div class="checkbox">
                              <input id="" type="checkbox">
                              <label for="checkbox11">Adcrowd</label>
                          </div>
												</div>
											</div>
										</div>

										<div class="col-sm-3">
											<div class="panel panel-default" style="border: 1px solid #eee;">
												<div class="panel-body">
													<img src="sample-data/adcrowd.png" class="img-responsive" />
												</div>
												<div class="panel-footer">
													<div class="checkbox">
                              <input id="" type="checkbox">
                              <label for="checkbox11">Adcrowd</label>
                          </div>
												</div>
											</div>
										</div>

										<div class="col-sm-3">
											<div class="panel panel-default" style="border: 1px solid #eee;">
												<div class="panel-body">
													<img src="sample-data/adcrowd.png" class="img-responsive" />
												</div>
												<div class="panel-footer">
													<div class="checkbox">
                              <input id="" type="checkbox">
                              <label for="checkbox11">Adcrowd</label>
                          </div>
												</div>
											</div>
										</div>

										<div class="col-sm-3">
											<div class="panel panel-default" style="border: 1px solid #eee;">
												<div class="panel-body">
													<img src="sample-data/adcrowd.png" class="img-responsive" />
												</div>
												<div class="panel-footer">
													<div class="checkbox">
                              <input id="" type="checkbox">
                              <label for="checkbox11">Adcrowd</label>
                          </div>
												</div>
											</div>
										</div>

										<div class="col-sm-3">
											<div class="panel panel-default">
												<div class="panel-body">
													<img src="sample-data/adcrowd.png" class="img-responsive" />
												</div>
												<div class="panel-footer">
													<div class="checkbox">
                              <input id="" type="checkbox">
                              <label for="checkbox11">Adcrowd</label>
                          </div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-sm-6">
										<ul class="pagination " style="margin: 10px 0px">
											<li><a href="#">‹‹</a></li>
										  <li class="active"><a href="#">1</a></li>
										  <li><a href="#">2</a></li>
										  <li><a href="#">3</a></li>
										  <li><a href="#">4</a></li>
										  <li><a href="#">5</a></li>
											<li><a href="#">››</a></li>
										</ul>
									</div>

									<div class="col-sm-4 pull-right">
										<div class="input-group input-sm ">
												<input type="text" name="example-input1-group2" class="form-control" placeholder="Search">
												<span class="input-group-btn">
												<button type="button" class="btn waves-effect waves-light btn-primary"><i class="fa fa-search"></i></button>
												</span>
										</div>
									</div>

								</div>
							</div>

							<div class="panel-body">
								<form role="form" class="row">
									<div class="col-sm-4">
										<div class="form-group">
	                    <label for="channel_country">Active:</label>
											<select class="form-control">
	                        <option>Active - Scheduled</option>
	                        <option>Inactive - Not Scheduled</option>
	                    </select>
	                  </div>
									</div>
								</form>
							</div>

							<div class="panel-footer">
								<button class="btn btn-icon waves-effect btn-default waves-light"> <i class="fa fa-plus"></i> Add New Channel </button>
							</div>
						</div>





                    </div> <!-- container -->

                </div>