<div class="content">
					<div class="container">

						<!-- Page-Title -->
						<div class="row">
							<div class="col-sm-12">
                <div class="btn-group pull-right m-t-15">
                    <button type="button" class="btn btn-default dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Settings <span class="m-l-5"><i class="fa fa-cog"></i></span></button>
                    <ul class="dropdown-menu drop-menu-right" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>

								<h4 class="page-title">Products</h4>
								<ol class="breadcrumb">
									<li>
										<a href="#">Test</a>
									</li>
									<!-- <li>
										<a href="#">Pages</a>
									</li> -->
									<li class="active">
										Products
									</li>
								</ol>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">
									<i class="typcn typcn-shopping-cart"></i> Product

									<span class="pull-right">
										<small><a  href="#">How do I create a new channel?</a></small>
									</span>
								</h3>

							</div>
							<div class="panel-body text-center">
								<i class="typcn typcn-shopping-cart" style="font-size:170px;"></i>
								<p>No products found. <br /> Configure in <a href="#">setup</a>.</p>
							</div>
							<div class="panel-footer">
								<ul class="pagination ">
									<li><a href="#">‹‹</a></li>
									<li class="active"><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
									<li><a href="#">››</a></li>
								</ul>
							</div>
						</div>





                    </div> <!-- container -->

                </div>