<div class="content">
					<div class="container">

						<!-- Page-Title -->
						<div class="row">
							<div class="col-sm-12">
                                <div class="btn-group pull-right m-t-15">
                                    <button type="button" class="btn btn-default dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Settings <span class="m-l-5"><i class="fa fa-cog"></i></span></button>
                                    <ul class="dropdown-menu drop-menu-right" role="menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>

								<h4 class="page-title">Settings</h4>
								<ol class="breadcrumb">
									<li>
										<a href="#">Test</a>
									</li>
									<!-- <li>
										<a href="#">Pages</a>
									</li> -->
									<li class="active">
										Settings
									</li>
								</ol>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">
									<i class="typcn typcn-spanner"></i> Webshop Settings

									<span class="pull-right">
										<small><a  href="#">How do I configure my webshop?</a></small>
									</span>
								</h3>

							</div>
							<div class="panel-body">
								<form role="form" class="row">

									<ul class="nav nav-tabs navtab-bg nav-justified">
											<li class="active">
													<a href="#general" data-toggle="tab" aria-expanded="false">
															<span class="visible-xs"><i class="fa fa-home"></i></span>
															<span class="hidden-xs">General</span>
													</a>
											</li>
											<li class="">
													<a href="#scheduling" data-toggle="tab" aria-expanded="true">
															<span class="visible-xs"><i class="fa fa-user"></i></span>
															<span class="hidden-xs">Scheduling Information</span>
													</a>
											</li>
									</ul>

									<div class="tab-content">
											<div class="tab-pane active" id="general">
												<div class="col-sm-6">
													<div class="form-group">
														<label for="channel_name">Webshop Name:</label>
														<input type="text" class="form-control" id="" name="channel_name" placeholder="e.g., Google Shopping">
													</div>
													<div class="form-group">
														<label for="channel_name">Webshop URL:</label>
														<input type="text" class="form-control" id="" name="channel_name" placeholder="e.g., Google Shopping">
													</div>
													<div class="form-group">
														<label for="channel_name">Status:</label>
														<p>This webshop is not live</p><br />
														<p><small>Activating this webshop will run it every day starting at 00:00.</small></p>
													</div>
													<button class="btn btn-icon waves-effect btn-default waves-light"> Active Webshop </button>
												</div>
												<div class="clearfix"></div>
											</div>

											<div class="tab-pane " id="scheduling">
												<div class="col-sm-6">
													<div class="form-group">
														<label for="channel_name">Run everyday at:</label>
														<div class="input-group m-b-15">
															<div class="bootstrap-timepicker">
																<input id="timepicker" type="text" class="form-control">
															</div>
															<span class="input-group-addon bg-custom b-0 text-white"><i class="glyphicon glyphicon-time"></i></span>
														</div>
													</div>
													<div class="form-group">
														<label for="channel_name">Schedule interval:</label>
														<select class="form-control">
				                        <option>Everyday</option>
				                    </select>
													</div>
													<div class="form-group">
														<label for="channel_name">In timezone:</label>
														<select class="form-control">
				                        <option>Netherlands</option>
				                        <option>Japan</option>
				                        <option>Italy</option>
				                        <option>United Kingdom</option>
				                        <option>USA</option>
				                    </select>
													</div>
											</div>
											<div class="clearfix"></div>
										</div>

								</form>
							</div>





							<div class="panel-footer">
								<button class="btn btn-icon waves-effect btn-default waves-light"> Continue </button>
							</div>
						</div>





                    </div> <!-- container -->

                </div>