<div class="content">
					<div class="container">

						<!-- Page-Title -->
						<div class="row">
							<div class="col-sm-12">
                                <div class="btn-group pull-right m-t-15">
                                    <button type="button" class="btn btn-default dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Settings <span class="m-l-5"><i class="fa fa-cog"></i></span></button>
                                    <ul class="dropdown-menu drop-menu-right" role="menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>

								<h4 class="page-title">Setup</h4>
								<ol class="breadcrumb">
									<li>
										<a href="#">Test</a>
									</li>
									<!-- <li>
										<a href="#">Pages</a>
									</li> -->
									<li class="active">
										Setup
									</li>
								</ol>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">
									<i class="typcn typcn-download"></i> Setup Webshop

									<span class="pull-right">
										<small><a  href="#">How do I import products?</a></small>
									</span>
								</h3>

							</div>
							<div class="panel-body">
								<h5><strong>Import From:</strong></h5>

								<div class="row">
									<div class="col-sm-12">

										<div class="col-sm-3">
											<div class="panel panel-default" style="border: 1px solid #eee;">
												<div class="panel-body">
													<img src="sample-data/xml.png" class="img-responsive" />
												</div>
												<div class="panel-footer">
													<div class="checkbox">
                              <input id="" type="checkbox">
                              <label for="checkbox11">XML</label>
                          </div>
												</div>
											</div>
										</div>

										<div class="col-sm-3">
											<div class="panel panel-default" style="border: 1px solid #eee;">
												<div class="panel-body">
													<img src="sample-data/csv.png" class="img-responsive" />
												</div>
												<div class="panel-footer">
													<div class="checkbox">
                              <input id="" type="checkbox">
                              <label for="checkbox11">CSV</label>
                          </div>
												</div>
											</div>
										</div>

										<div class="col-sm-3">
											<div class="panel panel-default" style="border: 1px solid #eee;">
												<div class="panel-body">
													<img src="sample-data/txt.png" class="img-responsive" />
												</div>
												<div class="panel-footer">
													<div class="checkbox">
                              <input id="" type="checkbox">
                              <label for="checkbox11">TXT</label>
                          </div>
												</div>
											</div>
										</div>

										<div class="col-sm-3">
											<div class="panel panel-default" style="border: 1px solid #eee;">
												<div class="panel-body text-center">
													<i class="typcn typcn-download" style="font-size:41px;"></i>
												</div>
												<div class="panel-footer">
													<div class="checkbox">
                              <input id="" type="checkbox">
                              <label for="checkbox11">New import Connection</label>
                          </div>
												</div>
											</div>
										</div>

									</div>



								</div>

							</div>

							<div class="panel-footer">
								<button class="btn btn-icon waves-effect btn-default waves-light"> Continue </button>
							</div>

						</div>





                    </div> <!-- container -->

                </div>
                