<div ng-include="topBar"></div>
<div class="content">
					<div class="container no-margin">

						<!-- Page-Title -->
						<div class="row">
							<div class="col-sm-12">
                                <div class="btn-group pull-right m-t-15">
                                    <button type="button" class="btn btn-default dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Settings <span class="m-l-5"><i class="fa fa-cog"></i></span></button>
                                    <ul class="dropdown-menu drop-menu-right" role="menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>

								<h4 class="page-title">Setup</h4>
								<ol class="breadcrumb">
									<li>
										<a href="#">Test</a>
									</li>
									<!-- <li>
										<a href="#">Pages</a>
									</li> -->
									<li class="active">
										Setup
									</li>
								</ol>
							</div>
						</div>
						<div align="center">
						<div class="col-md-8 col-md-offset-2 card-box">
                    <form class="form-horizontal" action="/"  ng-init="getCollection()">
							
                            <h2 class="page-header m-t-0 header-title"><b>Select Collections to add in New Webshop</b></h2>
                      			 <table ng-if="allCollections.data" data-toggle="table" data-page-size="10" data-pagination="true" class="table-bordered  table table-hover" style="display: table;">
										<thead>
                                        <tr>
                                            <th class="bs-checkbox " style="width: 36px; " data-field="state" tabindex="0"><div class="th-inner "><input name="btSelectAll" type="checkbox"></div><div class="fht-cell"></div></th>
                                            <th style="" data-field="id" tabindex="0"><div class="th-inner ">Collection Name</div><div class="fht-cell"></div></th>
                                            <th style="" data-field="name" tabindex="0"><div class="th-inner ">Collection Description</div><div class="fht-cell"></div></th>
                                            <th style="" data-field="date" tabindex="0"><div class="th-inner ">Created Date</div><div class="fht-cell"></div></th>
                                        </tr>
                                    </thead>
										<tbody>
                                        <tr data-index="0" class="" ng-repeat="col in allCollections.data.custom.custom_collections">
                                        	<td class="bs-checkbox "><input data-index="0" name="btSelectItem" type="checkbox"></td>
                                           <td style="">{{col.title}}</td>
                                            <td style="">{{col.body_html}}</td>
                                           <td style="">{{col.published_at}}</td>
                                        </tr>
                                        <tr data-index="0" class="" ng-repeat="col in allCollections.data.smart.smart_collections">
                                        	<td class="bs-checkbox "><input data-index="0" name="btSelectItem" type="checkbox"></td>
                                           <td style="">{{col.title}}</td>
                                            <td style="">{{col.body_html}}</td>
                                           <td style="">{{col.published_at}}</td>
                                        </tr>
                                    </tbody>
                                   
									</table>
                                    <div align="center" ng-if="!allCollections.data" >
                                    	<div class="circle"></div>
                              <div class="circle1"></div></td>
                                    </div>

                        

                        <div class="form-group text-center m-t-40 " ng-if="allCollections.data">
                            <div class="col-xs-2 pull-left">
                                <a href="{{redirectState()}}" class="btn btn-info pull-left">Skip</a>
                            </div>
                            <div class="col-xs-2 pull-right">
                                <a href="{{redirectState()}}"  class="btn btn-pink btn-block text-uppercase waves-effect waves-light" >Next
                                 </a>
                            </div>
                        </div>

                       
                    </form>

                </div>
</div>




                    </div> <!-- container -->

                </div>