<div ng-include="topBar"></div>
<div class="content">
					<div class="container no-margin">

						<!-- Page-Title -->
						<div class="row">
							<div class="col-sm-12">
                                <div class="btn-group pull-right m-t-15">
                                    <button type="button" class="btn btn-default dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Settings <span class="m-l-5"><i class="fa fa-cog"></i></span></button>
                                    <ul class="dropdown-menu drop-menu-right" role="menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>

								<h4 class="page-title">Setup</h4>
								<ol class="breadcrumb">
									<li>
										<a href="#">Test</a>
									</li>
									<!-- <li>
										<a href="#">Pages</a>
									</li> -->
									<li class="active">
										Setup
									</li>
								</ol>
							</div>
						</div>
						<div align="center">
						<div class="col-md-8 col-md-offset-2 card-box">
                            <div class="circle"></div>
                              <div class="circle1"></div>
                              <h4>Please wait adding products to Facebook, Amazon and Google Shopping...</h4>
								<a href="/dashboard" class="btn btn-pink btn-block text-uppercase waves-effect waves-light" >Done
                                    </a>

               	 </div>
</div>




                    </div> <!-- container -->

                </div>