<div ng-include="topBar"></div>
<div class="content">
					<div class="container no-margin">

						<!-- Page-Title -->
						<div class="row">
							<div class="col-sm-12">
                                <div class="btn-group pull-right m-t-15">
                                    <button type="button" class="btn btn-default dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Settings <span class="m-l-5"><i class="fa fa-cog"></i></span></button>
                                    <ul class="dropdown-menu drop-menu-right" role="menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>

								<h4 class="page-title">Setup</h4>
								<ol class="breadcrumb">
									<li>
										<a href="#">Test</a>
									</li>
									<!-- <li>
										<a href="#">Pages</a>
									</li> -->
									<li class="active">
										Setup
									</li>
								</ol>
							</div>
						</div>

						<div class="panel panel-default col-md-2">
							<div class="panel-heading">
								<h3 class="panel-title">
									<i class="typcn typcn-download"></i> Add Webshop
								</h3>

							</div>
							<div class="panel-body text-center">
								<p>Add Webshop <br /> setup a new webshop.</p>
							</div>
							<div class="panel-footer" align="center">
								<button class="btn btn-icon waves-effect btn-default waves-light"><a href="shops/add" style="color:white;"> <i class="fa fa-plus"></i> Add Webshop </a> </button>
							</div>
						</div>





                    </div> <!-- container -->

                </div>