<div ng-include="topBar"></div>
<div class="content">
					<div class="container no-margin">

						<!-- Page-Title -->
						<div class="row">
							<div class="col-sm-12">
                                <div class="btn-group pull-right m-t-15">
                                    <button type="button" class="btn btn-default dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Settings <span class="m-l-5"><i class="fa fa-cog"></i></span></button>
                                    <ul class="dropdown-menu drop-menu-right" role="menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>

								<h4 class="page-title">Setup</h4>
								<ol class="breadcrumb">
									<li>
										<a href="#">Test</a>
									</li>
									<!-- <li>
										<a href="#">Pages</a>
									</li> -->
									<li class="active">
										Setup
									</li>
								</ol>
							</div>
						</div>
						<div align="center">
						<div class="col-md-8 col-md-offset-2 card-box">
							<img src="assets/images/facebook.jpg" ng-if="routeParam == 'facebook'" width="400">
                         <img src="assets/images/google.jpg" ng-if="routeParam == 'google'" width="400">
                         <img src="assets/images/amazon.gif" ng-if="routeParam == 'amazon'" width="400">

                            <div class="clearfix"></div>
                            <div class="form-group text-center m-t-40 ">
                            
                                    <a href="{{redirectState()}}" class="btn btn-info pull-left">Skip</a>
                                <div class="col-xs-2 pull-right">
                                     <a href="/shops/add/settings/{{routeParam}}" class="btn btn-pink btn-block text-uppercase waves-effect waves-light" >Next
                                    </a>
                                </div>
                            </div>
                          
                </div> 
</div>




                    </div> <!-- container -->

                </div>