<div ng-include="topBar"></div>
<div class="content">
					<div class="container no-margin">

						<!-- Page-Title -->
						<div class="row">
							<div class="col-sm-12">
                                <div class="btn-group pull-right m-t-15">
                                    <button type="button" class="btn btn-default dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Settings <span class="m-l-5"><i class="fa fa-cog"></i></span></button>
                                    <ul class="dropdown-menu drop-menu-right" role="menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>

								<h4 class="page-title">Setup</h4>
								<ol class="breadcrumb">
									<li>
										<a href="#">Test</a>
									</li>
									<!-- <li>
										<a href="#">Pages</a>
									</li> -->
									<li class="active">
										Setup
									</li>
								</ol>
							</div>
						</div>
						<div align="center">
						<div class="col-md-4 col-md-offset-4 card-box">
                    <form class="form-horizontal" action="/shopify">
							
                            <h2 class="page-header m-t-0 header-title"><b>Add New Webshop</b></h2>
                        <div class="form-group ">
                            <div class="col-xs-12" align="left">
                            		<label><small>Webshop Name</small></label>
                                <input name="website_name" class="form-control" type="text" required placeholder="eg shopname">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12"  align="left">
                            <label><small>Webshop URL</small></label>
                                <input name="url" value="datatfeed.myshopify.com" class="form-control" type="text" required placeholder="eg shop.mystore.com">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12"  align="left">
                            <label><small>Webshop Type</small></label>
                                <select class="form-control" type="text" ng-model="website" required placeholder="eg shop.mystore.com">
                                		<option value="shopify">Shopify</option>
                                </select>
                            </div>
                        </div>

                        

                        <div class="form-group text-center m-t-40 ">
                            <div class="col-xs-12">
                                <button class="btn btn-pink btn-block text-uppercase waves-effect waves-light"
                                        type="submit">Add Webshop
                                </button>
                            </div>
                        </div>

                       
                    </form>

                </div>
</div>




                    </div> <!-- container -->

                </div>