<div ng-include="topBar"></div>
<div class="content">
					<div class="container no-margin">

						<!-- Page-Title -->
						<div class="row">
							<div class="col-sm-12">
                                <div class="btn-group pull-right m-t-15">
                                    <button type="button" class="btn btn-default dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Settings <span class="m-l-5"><i class="fa fa-cog"></i></span></button>
                                    <ul class="dropdown-menu drop-menu-right" role="menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>

								<h4 class="page-title">Setup</h4>
								<ol class="breadcrumb">
									<li>
										<a href="#">Test</a>
									</li>
									<!-- <li>
										<a href="#">Pages</a>
									</li> -->
									<li class="active">
										Setup
									</li>
								</ol>
							</div>
						</div>
						<div align="center">
						<div class="col-md-8 col-md-offset-2 card-box"  ng-if="routeParam == 'facebook'">
							
                                        <div id="fb-root"></div>
                          <img width="300" src="assets/images/fb_connect.jpeg" ng-click="login();">
                            <p ng-if="user">Welcome {{user.name}}</p>
                            <p ng-if="user">Please select your Marketting Store</p>
                                <select ng-if="user">
                                    <option>SELECT MARKETTING STORE</option>
                                </select>
                                                <div class="clearfix"></div>
                          <div class="form-group text-center m-t-40 ">
                                                
                                                        <a href="{{redirectState()}}" class="btn btn-info pull-left">Skip</a>
                                                    <div class="col-xs-2 pull-right">
                                                         <a href="/shops/add/collections/{{routeParam}}" class="btn btn-pink btn-block text-uppercase waves-effect waves-light" >Next
                                                        </a>
                                                    </div>
                          </div>
                          
                </div> 
                <div class="col-md-8 col-md-offset-2 card-box"  ng-if="routeParam == 'amazon'">
                <img src="assets/images/amazon.png">
                <div class="clearfix"></div>
               
					<div class="col-md-8 col-md-offset-2">	
                  <form class="form-horizontal m-t-20 ng-pristine ng-valid" action="/shops">

                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" placeholder="Seller ID: e.g., A2XAWQBKAT8QEA3">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" placeholder="MWS Authorization Token: e.g., amzn.mws.c3b32343-ad36-2342-43dd-32ds1d04c213">
                            </div>
                        </div>

                        
							
<div class="clearfix"></div>
                                                <div class="form-group text-center m-t-40 ">
                                                
                                                        <a href="{{redirectState()}}" class="btn btn-info pull-left">Skip</a>
                                                    <div class="col-xs-2 pull-right">
                                                         <a href="/shops/add/collections/{{routeParam}}" class="btn btn-pink btn-block text-uppercase waves-effect waves-light" >Next
                                                        </a>
                                                    </div>
                                                </div>
                     </form> 
                     </div>    
                </div> 
                <div class="col-md-8 col-md-offset-2 card-box"  ng-if="routeParam == 'google'">
                <img src="assets/images/google.png">
                <div class="clearfix"></div>
               
					<div class="col-md-8 col-md-offset-2">	
                  <form class="form-horizontal m-t-20 ng-pristine ng-valid" action="/shops">
						<p class="alert text-pink">Please add our service account email<br> <code>madness-google@api-project-612736994294.madness.ae.iam.gserviceaccount.com</code> <br> in your merchant center</p>
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" placeholder="Merchant ID: e.g., A2XAWQBKAT8QEA3">
                            </div>
                        </div>
                        
                        <code class="heading">Google Basic settings like gender and age group will comes here</code>

                        
							
<div class="clearfix"></div>
                                                <div class="form-group text-center m-t-40 ">
                                                
                                                        <a href="{{redirectState()}}" class="btn btn-info pull-left">Skip</a>
                                                    <div class="col-xs-2 pull-right">
                                                         <a href="/shops/add/collections/{{routeParam}}" class="btn btn-pink btn-block text-uppercase waves-effect waves-light" >Next
                                                        </a>
                                                    </div>
                                                </div>
                     </form> 
                     </div>    
                </div>
</div>




                    </div> <!-- container -->

                </div>