<div class="account-pages"></div>
		<div class="clearfix"></div>
		<div class="wrapper-page">
			<div class=" card-box">
				<div class="panel-heading">
                    <h3 class="text-center"> Sign Up to <strong class="text-custom">MADNESS</strong></h3>
                </div>

				<div class="panel-body">
					<form class="form-horizontal m-t-20" action="">

						<div class="form-group ">
							<div class="col-xs-12">
								<input class="form-control" type="email"  placeholder="Email">
							</div>
						</div>
						<div class="form-group ">
							<div class="col-xs-12">
								<input class="form-control" type="text"  placeholder="First Name">
							</div>
						</div>
						<div class="form-group ">
							<div class="col-xs-12">
								<input class="form-control" type="text"  placeholder="Last Name">
							</div>
						</div>
						<div class="form-group ">
							<div class="col-xs-12">
								<input class="form-control" type="text"  placeholder="Company Name">
							</div>
						</div>

						<div class="form-group">
							<div class="col-xs-12">
								<input class="form-control" type="password"  placeholder="Password">
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12">
								<input class="form-control" type="password"  placeholder="Repeat Password">
							</div>
						</div>

						<div class="form-group">
							<div class="col-xs-12">
								<div class="checkbox checkbox-primary">
									<input id="checkbox-signup" type="checkbox" checked="checked">
									<label for="checkbox-signup">I accept <a href="#">Terms and Conditions</a></label>
								</div>
							</div>
						</div>

						<div class="form-group text-center m-t-40">
							<div class="col-xs-12">
								<a data-toggle="modal" data-target="#con-close-modal" class="btn btn-pink btn-block text-uppercase waves-effect waves-light">
									Register
								</a>
							</div>
						</div>

					</form>

				</div>
			</div>

			<div class="row">
				<div class="col-sm-12 text-center">
					<p>
						Already have account?<a href="login" class="text-primary m-l-5"><b>Sign In</b></a>
					</p>
				</div>
			</div>

		</div>
		<div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
				<div class="modal-dialog">
						<div class="modal-content">
								<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
										<h4 class="modal-title">Your account was <strong>created!</strong>  We can help you better if you provide us with contact information.</h4>
								</div>
								<div class="modal-body">
										<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label for="selector">Country:</label>
														<select class="form-control" id="selector">
															<option>Canada</option>
															<option>Australia</option>
														</select>
													</div>
													<div class="form-group">
															<label for="field-3" class="control-label">Telephone:</label>
															<input type="text" class="form-control" id="field-3" placeholder="e.g., +1-541-754-3010">
													</div>

												</div>
										</div>
								</div>
								<div class="modal-footer">
										<a onclick="window.location = 'shops'"  data-dismiss="modal" aria-hidden="true" href="/shops"  class=" btn btn-info waves-effect waves-light">Continue</a>
								</div>
						</div>
				</div>
		</div><!-- /.modal -->