<!DOCTYPE html>
<html ng-app="myApp">
    <head>
    <base href="/">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">

        <link rel="shortcut icon" href="assets/images/favicon_1.ico">

        <title>MADNESS - Responsive Admin Dashboard Template</title>

        <!--Morris Chart CSS -->
		<link rel="stylesheet" href="assets/plugins/morris/morris.css">

        <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/core.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/components.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/icons.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/pages.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/responsive.css" rel="stylesheet" type="text/css" />

        <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]--> 

        <script src="assets/js/modernizr.min.js"></script>
		

    </head>


    <body class="fixed-left" ng-controller="main">
 
		
        <!-- Begin page -->
		<div ng-view></div>
        <div id="wrapper"  ng-if="!startscreens">
			<div>
            <!-- Top Bar Start -->
			<div ng-include="topBar"></div>
            
            <!-- Top Bar End -->


            <!-- ========== Left Sidebar Start ========== -->

            <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">
                    <!--- Divider -->
                    <div id="sidebar-menu">
                        <ul>

                        	<li class="text-muted menu-title">Navigation</li>

                            <li class="has_sub">
                                <a href="/dashboard" class="waves-effect"><i class="ti-home"></i> <span> Dashboard </span> <span class="menu-arrow"></span></a>
                            </li>
                             <li class="has_sub">
                                <a href="setup" class="waves-effect"><i class="ti-spray"></i> <span> Shopify </span> <span class="menu-arrow"></span> </a>
                                
                            </li>
                             <li class="has_sub">
                                <a href="product" class="waves-effect"><i class="ti-pencil-alt"></i> <span> Facebook </span> <span class="menu-arrow"></span> </a>
                                
                            </li>

                            <li class="has_sub">
                                <a href="channels" class="waves-effect"><i class="ti-paint-bucket"></i> <span> Google </span> <span class="menu-arrow"></span> </a>
                                
                            </li>
                            <li class="has_sub">
                                <a href="apis" class="waves-effect"><i class="ti-menu-alt"></i> <span> Amazon </span> <span class="menu-arrow"></span> </a>
                                
                            </li>
                            <li class="has_sub">
                                <a href="settings" class="waves-effect"><i class="ti-crown"></i> <span> Settings </span> <span class="menu-arrow"></span> </a>
                                
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- Left Sidebar End -->


			</div>
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">

                <footer class="footer text-right">
                    © 2017. All rights reserved.
                </footer>

            </div>


            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->

			<div>
           

        </div>
        </div>
        
        <!-- END wrapper -->




        <!-- jQuery  -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
    
         <script src="assets/js/angular/angular/angular.js"></script>
         <script src="assets/js/angular/angular-route/angular-route.js"></script>
		 <script src="bower_components/angular-facebook/lib/angular-facebook.js"></script>
         <script src="assets/js/app.js"></script>




    </body>
</html>